/** @format */

* {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
  color: black
}

.h2 {
  color: black;
}

.quiz-form-container {
	padding-bottom: 100px;
	padding: 20px;
	width: 100%;
  background-color: #ecbc1eb2;
  border-color: black;
  border-style: groove;
  border-width: 4px;
  
}

.container {
	background-color: #a9dd9a;
	/* position:absolute; */
	border-color: black;
	border-style: groove;
	border-width: 4px;
	padding: 6px;
  }
  

.title-container {
  background-color: cadetblue;
  border-color: black;
  border-style: groove;
  border-width: 4px;
  position: relative;

}

.time-limit span {
	margin-left: 10px;
}

.question-container {
	padding: 20px;
	border-color: #c0c0c0;
	border-width: 5px;
	border-style: ridge;
	background-color: rgb(6, 163, 184);
	font-size: 18px;
	color: white;
	display: flex;
	width:200px;
	word-wrap: break-word;
	max-width: 250px;
}


.click-container {
  background-color: rgba(221, 160, 221, 0.123);
 max-width: 250px;
}

h3 {
  color: white;
}

.next-container {
	max-width: 250px;
	
}


.answer-choice {
	border: 1px solid #c0c0c0;
	padding: 10px;
	cursor: pointer;
	width: 49%;
}

.answer-choice label {
	cursor: pointer;
}

.answer-choice:hover {
	background-color: rgb(201, 245, 220);
}

.map-container {
	left: 0;
	min-height: 400px;

}

.full-screen {
	width: 100%;
	padding: 20px 20px 60px 20px;
	text-align: center;
	min-height: calc(100vh - 250px);
}

.quiz-image {
	max-width: 100%;
	max-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

.continent-heading{
	font-size: 60px;
	font-weight: bolder;
}

/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
	.answer-choice {
		width: 100%;
	}
}
