.container {
    background-color: #a9dd9a;
    border-color: black;
    border-style: groove;
    border-width: 4px;
}

.createAccount{
    border: yellowgreen;
}
.card{
    background-color:#e7a7bf
}

body {
    background-color: #4ba0e9;
}