.Home {
  text-align: center;
  background-image: url(https://media.giphy.com/media/mf8UbIDew7e8g/giphy.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.Home-logo {
 
  height: 210px;
}

.Home-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.Home-intro {
  font-size: large;
}

.No-Results{
color:black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
