/** @format */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.member-thumbnail {
	height: 2.25rem;
	border-radius: 9999px;
	margin-bottom: 0.25rem;
}

.member-info {
	font-size: 12px;
	width: 85px;
	line-height: 1.3;
}

.footer {
	width: 100%;
	bottom: 0;
	min-height: 100px;
	text-align: center;
	color: #bdbdbd;
    background-color: #2a352e;
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
}

.credit-text {
	font-size: 13px;

	color: #919191;
}

.member-thumbnail:hover {
	color: #7cedab;
}

.uk-flex {
	display: flex;
}

.text-color{
	color: rgb(128, 128, 131);
}