/* .Navbar,
.Navbar * {
  color: white;

} */

.Navbar {
  display: flex;
  justify-content: left;
  padding: 0;
  border-color: black;
  border-style: groove;
  border-width: 4px;
  background-image: url("./earth_icon.png");
  background-size: 85px 71px ;
}

.Navbar .nav-item {
  color: black;
  padding: 1.5rem 0.75rem 1.2rem;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 0.3rem solid transparent;
  font-weight: bold;
}

.Navbar .nav-item:hover,
.Navbar .nav-item.active {
  border-bottom: 0.3rem solid rgba(8, 128, 24, 0.965);
}

.Navbar .nav-item.active:hover {
  color: salmon;
}

.Navbar .brand {
  font-weight: bold;
}
